<ng-template #resetPasswordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3 row align-items-center">
            <label class="col-3 col-form-label" for="userId">User ID</label>
            <div class="col-9 ">
                {{userId}}
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-3 col-form-label" for="name">Password</label>
            <div class="col-9">
                <input class="form-control" name="name" type="password" autocomplete="false" required [(ngModel)]="newpassword">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)="reset()">
            Save
        </button>
    </div>
</ng-template>