.link{
    position: relative !important;
    top: 0px !important;
    right: 0;
    color: #7366ff;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.link:hover{
    text-decoration: underline;
}