.page-wrapper .page-header .header-wrapper .nav-right > ul > li.profile-nav  {
    min-width: 160px;
}

.page-wrapper .page-header .header-wrapper .nav-right .profile-dropdown {
    width: 100%;
    min-width: 160px;
    top: 37px;
    right: 0px;
    left: 0px;
    padding: 0 10px;
}