.text-align-left{
    text-align: left;
}


  .white-border-cell {
    border-right: 2px solid rgb(255, 255, 255); /* Set the border color to white */
    padding: 20px; /* Add padding to the cells as needed */
  }

  .min-width-10 {
    min-width: 100px
  }

  .min-width-20 {
    min-width: 200px
  }

  .min-width-25 {
    min-width: 250px
  }

  .min-width-30 {
    min-width: 300px
  }