<?xml version="1.0" encoding="utf-8" ?>
<MMPayConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<MMPayTopUpSkypeContact></MMPayTopUpSkypeContact>
	
	<PlatformDepositUrl>http://pay.wlb.uat/N8/DepositMMPay.aspx</PlatformDepositUrl>
	<PlatformDepositEncryptKey>Hj2b5@D9</PlatformDepositEncryptKey>
	<PlatformDepositSignatureKey>Dms2hJ1d04nD</PlatformDepositSignatureKey>
	<MMPayWithdrawal>代现</MMPayWithdrawal>
	<MMPayDeposit>代充</MMPayDeposit>
	<MMPayWithdrawalAutomationKey>mmAutoTestDms2hJ1d04nD</MMPayWithdrawalAutomationKey>
	<RetryCount>5</RetryCount>
	<TimeoutInSeconds>30</TimeoutInSeconds>
	<MMPayWithdrawalN8Remark>代付回调</MMPayWithdrawalN8Remark>
</MMPayConfiguration>